{% extends 'index.html' %}

{% block title %}
Полный список
{% endblock %}

{% block content %}

<ul>
  {% for product in products %}
  <li>Продукт {{ product.name }}</li>

  <ul>
    {% for version in product.versions %}
    <li><a href="{{ url_for('version', version_id=version.id) }}">Версия {{ version.version }}</a>

      {% if version.dependences %}
      Зависимости:

      {% for dependence in version.dependences %}
        <a href="{{ url_for('version', version_id=dependence.id) }}">{{ dependence.product.name }} {{ dependence.version }}</a>
      {% endfor %}

      {% endif %}

    </li>
    {% endfor %}
  </ul>

  {% endfor %}
</ul>

{% endblock %}
